Repository patrikcepr/latuabarberia: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: project setup scss css
  src/styles/Home.module.css
  src/styles/Home.module.scss
  src/styles/_mediaQueries.scss
  src/styles/_typography.scss
  src/styles/globals.css
  src/styles/globals.scss
  src/styles/reset.css
Due: stylelint --fix, yarn stylelint --customSyntax postcss-scss --fix

feat: project setup linting solved
  .eslintrc.json
  src/pages/index.tsx
Due: eslint --fix, prettier --write

chore: mui setup in detail
  src/styles/theme/darkTheme.ts
  src/styles/theme/lightTheme.tsx
  src/utility/createEmotionCache.ts
Due: eslint --fix, prettier --write

chore: mui setup in detail
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/_mediaQueries.scss
  src/styles/globals.scss
  src/styles/reset.css
Due: stylelint --fix, yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: mui navbar
  src/components/NavBar/index.tsx
  src/pages/index.tsx
  src/styles/theme/darkTheme.ts
  src/utility/createEmotionCache.ts
Due: eslint --fix, prettier --write

feat: cache set up done
  package.json
  src/components/NavBar/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/theme/darkTheme.ts
Due: eslint --fix, prettier --write

feat: new images and figma
  figma/Jennies barbershop.fig
  package-lock.json
  package.json
  public/assets/images/IMG_5620.jpg
  public/assets/images/IMG_5629.jpg
  public/assets/images/IMG_5633.jpg
  public/assets/images/IMG_5634.jpg
  public/assets/images/IMG_5635.jpg
  public/assets/images/IMG_5636.jpg
  public/assets/images/IMG_5638.jpg
  public/assets/images/IMG_5639.jpg
  public/assets/images/IMG_5641.jpg
  public/assets/images/IMG_5644.jpg
  public/assets/images/IMG_5647.jpg
  public/assets/images/IMG_5648.jpg
  public/assets/images/IMG_5661.jpg
  public/assets/images/IMG_5668.jpg
  public/assets/images/IMG_5672.jpg
  public/assets/images/IMG_5726.jpg
  public/assets/images/salon01.jpeg
  public/assets/images/salon01.jpg
  public/assets/images/salon01.png
  public/assets/images/salon01.webp
  public/assets/images/salon02.jpeg
  public/assets/images/salon02.jpg
  public/assets/images/salon02.png
  public/assets/images/salon02.webp
  public/assets/images/salon03.jpg
  public/assets/images/salon03.png
  public/assets/images/salon03.webp
  src/components/NavBar/index.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: new images and figma (#4)
  figma/Jennies barbershop.fig
  package-lock.json
  package.json
  public/assets/images/IMG_5620.jpg
  public/assets/images/IMG_5629.jpg
  public/assets/images/IMG_5633.jpg
  public/assets/images/IMG_5634.jpg
  public/assets/images/IMG_5635.jpg
  public/assets/images/IMG_5636.jpg
  public/assets/images/IMG_5638.jpg
  public/assets/images/IMG_5639.jpg
  public/assets/images/IMG_5641.jpg
  public/assets/images/IMG_5644.jpg
  public/assets/images/IMG_5647.jpg
  public/assets/images/IMG_5648.jpg
  public/assets/images/IMG_5661.jpg
  public/assets/images/IMG_5668.jpg
  public/assets/images/IMG_5672.jpg
  public/assets/images/IMG_5726.jpg
  public/assets/images/salon01.jpeg
  public/assets/images/salon01.jpg
  public/assets/images/salon01.png
  public/assets/images/salon01.webp
  public/assets/images/salon02.jpeg
  public/assets/images/salon02.jpg
  public/assets/images/salon02.png
  public/assets/images/salon02.webp
  public/assets/images/salon03.jpg
  public/assets/images/salon03.png
  public/assets/images/salon03.webp
  src/components/NavBar/index.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: gallery in progress
  .gitignore
  images.d.ts
  next.config.js
  public/IMG_5726.jpg
  src/components/NavBar/index.tsx
  src/cs.json
  src/pages/index.tsx
  src/priceList.ts
  src/styles/Home.module.scss
  src/styles/_mediaQueries.scss
  src/styles/_variables.scss
  src/styles/globals.scss
  tsconfig.json
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: gallery and contacts done
  public/assets/images/IMG_5620_thumb.png
  public/assets/images/IMG_5629_thumb.png
  public/assets/images/IMG_5633_thumb.png
  public/assets/images/IMG_5634_thumb.png
  public/assets/images/IMG_5639_thumb.png
  public/assets/images/IMG_5648_thumb.png
  src/components/NavBar/index.tsx
  src/cs.json
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: first version done
  public/assets/images/bowtie_black.svg
  public/assets/images/bowtie_single.svg
  public/assets/images/bowtie_white.svg
  public/assets/images/format_quote_black_24dp.svg
  src/components/NavBar/index.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
  src/styles/theme/darkTheme.ts
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: export and deployment settings
  next.config.js
  package.json
  src/pages/_app.tsx
  src/pages/api/hello.ts
Due: eslint --fix, prettier --write

chore: package lock out of gitignore
  .gitignore
Due: none

feat: minor text change
  src/priceList.ts
Due: eslint --fix, prettier --write

feat: minor text change (#7)
  src/priceList.ts
Due: eslint --fix, prettier --write

feat: favicons
  public/IMG_5726.jpg
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

chore: almost ready for prod, only SEO missing
  next.config.js
  public/assets/images/IMG_5529.jpg
  public/assets/images/logo.png
  src/components/NavBar/NavBar.module.scss
  src/components/NavBar/index.tsx
  src/cs.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
  src/styles/theme/darkTheme.ts
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: seo added, preparing for static site export
  next.config.js
  src/components/NavBar/index.tsx
  src/cs.json
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: code optimalization, unnecessary things deleted
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/_typography.scss
  src/styles/_variables.scss
  src/styles/globals.scss
  src/styles/theme/darkTheme.ts
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: code optimalization, more unnecessary things deleted
  public/assets/fonts/Roboto/LICENSE.txt
  public/assets/fonts/Roboto/Roboto-Black.ttf
  public/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  public/assets/fonts/Roboto/Roboto-Bold.ttf
  public/assets/fonts/Roboto/Roboto-Bold.woff
  public/assets/fonts/Roboto/Roboto-Bold.woff2
  public/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  public/assets/fonts/Roboto/Roboto-Italic.ttf
  public/assets/fonts/Roboto/Roboto-Light.ttf
  public/assets/fonts/Roboto/Roboto-LightItalic.ttf
  public/assets/fonts/Roboto/Roboto-Medium.ttf
  public/assets/fonts/Roboto/Roboto-Medium.woff
  public/assets/fonts/Roboto/Roboto-Medium.woff2
  public/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  public/assets/fonts/Roboto/Roboto-Regular.ttf
  public/assets/fonts/Roboto/Roboto-Regular.woff
  public/assets/fonts/Roboto/Roboto-Regular.woff2
  public/assets/fonts/Roboto/Roboto-Thin.ttf
  public/assets/fonts/Roboto/Roboto-ThinItalic.ttf
  public/assets/fonts/Satisfy/LICENSE.txt
  public/assets/fonts/Satisfy/Satisfy-Regular.ttf
  public/next.svg
  public/site.webmanifest
  public/thirteen.svg
  public/vercel.svg
  src/styles/_typography.scss
  src/styles/_variables.scss
Due: yarn stylelint --customSyntax postcss-scss --fix

feat: final for now
  next.config.js
Due: eslint --fix, prettier --write

feat: next cleaning
  next.config.js
  package.json
  src/pages/_app.tsx
  src/styles/Home.module.scss
  src/styles/_variables.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

Feat final touches (#16)
  next.config.js
  public/assets/fonts/Roboto/LICENSE.txt
  public/assets/fonts/Roboto/Roboto-Black.ttf
  public/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  public/assets/fonts/Roboto/Roboto-Bold.ttf
  public/assets/fonts/Roboto/Roboto-Bold.woff
  public/assets/fonts/Roboto/Roboto-Bold.woff2
  public/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  public/assets/fonts/Roboto/Roboto-Italic.ttf
  public/assets/fonts/Roboto/Roboto-Light.ttf
  public/assets/fonts/Roboto/Roboto-LightItalic.ttf
  public/assets/fonts/Roboto/Roboto-Medium.ttf
  public/assets/fonts/Roboto/Roboto-Medium.woff
  public/assets/fonts/Roboto/Roboto-Medium.woff2
  public/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  public/assets/fonts/Roboto/Roboto-Regular.ttf
  public/assets/fonts/Roboto/Roboto-Regular.woff
  public/assets/fonts/Roboto/Roboto-Regular.woff2
  public/assets/fonts/Roboto/Roboto-Thin.ttf
  public/assets/fonts/Roboto/Roboto-ThinItalic.ttf
  public/assets/fonts/Satisfy/LICENSE.txt
  public/assets/fonts/Satisfy/Satisfy-Regular.ttf
  public/next.svg
  public/site.webmanifest
  public/thirteen.svg
  public/vercel.svg
  src/components/NavBar/index.tsx
  src/cs.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/_typography.scss
  src/styles/_variables.scss
  src/styles/globals.scss
  src/styles/theme/darkTheme.ts
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

feat: next cleaning (#18)
  next.config.js
  package.json
  src/pages/_app.tsx
  src/styles/Home.module.scss
  src/styles/_variables.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

fix: email changed to jannies
  package-lock.json
  package.json
  src/cs.json
Due: prettier --write

fix: email changed to jannies (#20)
  package-lock.json
  package.json
  src/cs.json
Due: prettier --write

feat: reservation and price update
  src/pages/index.tsx
  src/priceList.ts
Due: eslint --fix, prettier --write

feat: text update
  src/cs.json
Due: prettier --write

feat: text update (#24)
  src/cs.json
Due: prettier --write

feat: price update
  src/priceList.ts
Due: eslint --fix, prettier --write

feat: package update
  package-lock.json
  package.json
  src/styles/theme/darkTheme.ts
Due: eslint --fix, prettier --write

feat: package update
  package-lock.json
  package.json
Due: prettier --write

Price update (#26)
  package-lock.json
  package.json
  src/priceList.ts
  src/styles/theme/darkTheme.ts
Due: eslint --fix, prettier --write

fix: text correction
  src/cs.json
  src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: text correction (#27)
  src/cs.json
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Development (#28)
  package-lock.json
  package.json
  src/cs.json
  src/pages/index.tsx
  src/priceList.ts
  src/styles/theme/darkTheme.ts
Due: eslint --fix, prettier --write

feat: text changes, npm update
  package-lock.json
  src/cs.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.css
  yarn stylelint --customSyntax postcss-scss --fix: any of: *.scss
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.js)
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.js)) or (any of: *.json)
