Repository patrikcepr/latuabarberia: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, yarn stylelint --customSyntax postcss-scss --fix, eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.css": "stylelint --fix",
    "*.scss": ["yarn stylelint --customSyntax postcss-scss --fix"],
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.js": ["eslint --fix", "prettier --write"],
    "*.json": "prettier --write"
}

feat: text changes, npm update (#29)
  package-lock.json
  src/cs.json
Due: prettier --write

chore: bump version
  package-lock.json
  package.json
Due: prettier --write

refactor: next update to 14
  package-lock.json
  package.json
Due: prettier --write

feat: package update
  package-lock.json
  package.json
Due: prettier --write

chore: eslint back to 8
  package-lock.json
  package.json
Due: prettier --write

refactor: stylelint update
  package-lock.json
  package.json
  src/styles/Home.module.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, prettier --write

chore: commitlint update
  package-lock.json
  package.json
Due: prettier --write

feat: pricelist update
  src/pages/index.tsx
  src/priceList.ts
Due: eslint --fix, prettier --write

fix: modules update
  package-lock.json
  package.json
Due: prettier --write

fix: security
  package-lock.json
  package.json
  src/styles/Home.module.scss
  src/styles/_variables.scss
  src/styles/globals.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, prettier --write

fix: npm update next react
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

fix: npm update next react (#37)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

fix: npm update next react (#37) (#38)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write
